.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar__logo img {
  height: 50px;
  margin-left: 20px;
  width: 100%;
}

.navbar__buttons {
  margin-right: 20px;
}

.navbar__donate-button {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
