@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #4c4c4c;
  --color-primary: #d7d7d7;
  --color-primary-variant: rgba(227, 227, 227, 0.4);
  --color-white: whitesmoke;
  --color-light: rgba(102, 102, 102, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

/*============GENERAL STYLES ================*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 5rem;
}

img {
  width: 50%;
  object-fit: cover;
}

/*============ MEDIA QUERIES (MEDIUM DEVICES) ===============*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }

  section > H2 {
    margin-bottom: 2rem;
  }
}
